<p class="lead"> Candidate Profile </p>
<form novalidate class="simple-form">
    <table class="table table-responsive">
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="candidate.name"/></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="radio" ng-model="candidate.gender" value="MALE"/> Male
                <input type="radio" ng-model="candidate.gender" value="FEMALE"/> Female
            </td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" ng-model="candidate.contact.phoneNumber"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" ng-model="candidate.contact.email"/></td>
        </tr>
        <tr>
            <td><a role="button" ng-click="reset()" class="btn btn-warning">Reset</a></td>
            <td>
                <a role="button" ng-click="addCandidate(candidate)" class="btn btn-success">Add profile</a>
            </td>
        </tr>
    </table>
</form>
{{message}}
