<article class="panel panel-body" ng-controller="TabNavigationController  as tabCtrl">
    <h3>Candidate Profile Information &nbsp; &nbsp; <a role="button" ng-click="updateCandidate(candidate)" class="btn btn-success">Save</a></h3>
    <hr>
    <div>
        <ul class="nav nav-tabs nav-tabs-justified" ng-init="tab=0">
            <li ng-class="{active: tabCtrl.isTab(0)}">
                <a ng-click="tabCtrl.setTab(0)">Basic</a>
            </li>
            <li ng-class="{active: tabCtrl.isTab(1)}">
                <a ng-click="tabCtrl.setTab(1)">Physique</a>
            </li>
            <li ng-class="{active: tabCtrl.isTab(2)}">
                <a ng-click="tabCtrl.setTab(2)">Education</a>
            </li>
            <li ng-class="{active: tabCtrl.isTab(3)}">
                <a ng-click="tabCtrl.setTab(3)">Occupation</a>
            </li>
        </ul>

    </div>
    <div ng-show="tabCtrl.isTab(0)">
       <div ng-include="'app/views/candidate-profile-basic-info.html'">

       </div>
    </div>
    <div ng-show="tabCtrl.isTab(1)">
        <div ng-include="'app/views/candidate-profile-physique-info.html'">

        </div>
    </div>
    <div ng-show="tabCtrl.isTab(2)">
        <div ng-include="'app/views/candidate-profile-education-info.html'">

        </div>
    </div>
    <div ng-show="tabCtrl.isTab(3)">
        <div ng-include="'app/views/candidate-profile-qualification-info.html'">

        </div>
    </div>
</article>