<div class="container-full">

	<div class="row">

		<div class="col-lg-12 text-center v-center">

			<h1>H E A V E N</h1>
			<p class="lead">Matches made - in heaven, by heaven</p>

			<br>

			<form class="col-lg-12">
				<div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
					<input type="text" class="center-block form-control input-lg" title="query" placeholder="Search by name">
					<span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">Search</button></span>
				</div>
			</form>
		</div>

	</div>
	<!-- /row -->

	<div class="row">

		<div class="col-lg-12 text-center v-center" style="font-size:39pt;">
			<a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a> <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
		</div>

	</div>

</div>
<!-- /container full -->

<div class="container">

	<hr>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>HEAVEN</h3></div>
				<div class="panel-body">Matches made in heaven, by heaven.
				</div>
			</div>
		</div>
	</div>
</div>