<article ng-show="candidates.length">
    <span>
        Search  <input type="text" ng-model="query" placeholder=" ID  or Name"/>
    </span>
    <hr/>
    <table class="table table-responsive">
        <tr>
            <td><strong>Candidate ID</strong></td>
            <td><strong>Candidate Name</strong></td>
            <td><strong>Gender</strong></td>
            <td><strong>Action</strong></td>
        </tr>
        <tr ng-repeat="candidate in candidates | filter: query">
            <td>
                {{candidate.id}}
            </td>
            <td>
                <a href="#/candidate/{{candidate.id}}">
                    {{candidate.name}}
                </a>
            </td>
            <td>
                {{candidate.gender}}
            </td>
            <td>
                <a role="button" ng-click="deleteCandidate(candidate)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</article>
<article ng-show="candidates.length === 0">
    <div class="container">
        <div class="jumbotron">
            <h3>Time to start</h3>

            <p><a href="#addCandidate"class="btn btn-primary btn-lg" role="button">
                Add Profiles</a>
            </p>
        </div>
    </div>
</article>
